@import url("https://fonts.googleapis.com/css?family=Poppins:400, 500, 700");
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
.navbar{
    padding: 20px;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 16px !important;
}
.carousel-inner img{
                 width: 100%;
                 height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
   font-size: 500%;
   text-transform: uppercase;
   text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
     font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 16px;
 }
 .btn-primary{
     background-color: #6648b1;
     border: 1px solid  #6648b1;
 }
 .btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}
.jumbotro{
    padding: 16px;
    border-radius: 0;
}
.padding{
    padding-bottom: 32px;

}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 32px;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 43px;
    margin-bottom: 16px;
}
.fa-code{
   color: #e54d26; 
   font-size: 64px;
    margin: 10px;
}
.fa-bold{
    color: #653D7C;
    font-size: 64px;
    margin: 10px;
}
.fa-css3{
    color: #2163af;
    font-size: 64px;
    margin: 10px;
}
.fixed-wrap img{
    width: 100%;
    height: 350px;
}
.fun{
    width: 100%;
    margin-bottom: 10px;
}
.gif{
    max-width: 100%;
}
.social a {
    font-size: 64px;
    padding: 48px;
}
.fa-facebook{
    color: #3B5998;
}
.fa-twitter{
    color: #001CED;
}
.fa-google-plus-g{
    color: #DD4B39;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #BB0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}
.footer{
    background-color: #3F3F3F;
    color: #d5d5d5;
    padding-top: 32px;
}
hr .light{
    border-top: 1px solid #d5d5d5;
    width: 70%;
    margin-top: 32px;
    margin-bottom: 16px;
}
.footer a{
    color: #d5d5d5;
}
 .light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 16px;
}
/*-------media*/
@media (max-widht: 992px){
    .social{
        font-size: 48px;
        padding: 24px;
    }
}
@media (max-widht: 778px){
   
.carousel-caption{
top: 45%;

}
.carousel-caption h1{
font-size: 350%;


}
.carousel-caption h3{
font-size: 140%;
font-weight: 200;
padding-bottom: 20px;
}
.carousel-caption .btn{
     font-size: 95%;
}
.display-4{
    font-size: 200%;
}
.social a{
    font-size: 48.5px;
    padding: 24.5px;
}

}
@media (max-widht: 576px){
    .carousel-caption{
        top: 40%;
        
        }
        .carousel-caption h1{
        font-size: 250%;
        
        
        }
        .carousel-caption h3{
        font-size: 110%;
    
        }
        .carousel-caption .btn{
            font-size: 90%;
            padding: 4px 8px;
       }
       .carousel-indicators{
                       display: none;
   }
   .display-4{
    font-size: 160%;
}
.social a{
    font-size: 2rem;
    padding: .7rem
}
   
}